
/* About Page */
.about__image__wrapper {
    position: relative;
    padding-top: 56.25%;
    border-radius: 15px;
  
  }
  
  .about__image__wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  /* End About Page */