.dashboard-waiting table img {
    width: 70px;
}

.dashboard-waiting table thead {
    text-align: center;
}

.dashboard-waiting table tr{
    padding: 10px 10px;
}

.dashboard-waiting table .table-actions {
    display: flex;
    gap: 15px;
}

.dashboard-waiting .table-wrapper {
    width: 90%;
    height: 500px;
    overflow: auto;
  }

  .dashboard-waiting .table-wrapper table {
    width: 100%;
  }
  
@media (max-width: 820px) {
    .dashboard-waiting table .table-actions  {
        flex-direction: column;
    }

    .dashboard-waiting .table-wrapper {
        max-width: 600px;
      min-width: 500px;
        height: 500px;
        overflow: auto;
      }
    
    
}
